In [487]:
#import 
import pandas as pd
import os
import numpy as np

In [488]:
#read in file that was exported from SQL database

file2 = "UnitData.csv"
data2 = pd.read_csv(file2, encoding='utf8')
# data2.head(10)

C:\Users\RosenqS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [489]:
import re
# frame with split value columns 
UnitNum = data2["UnitType"].str.split(" - ", n = 1, expand = True) 
# StationNum = data2["UnitID"].str[-2:]


# making separate first name column from new data frame 
data2["UnitNumber"]= UnitNum[0]   
data2["UnitType"]= UnitNum[1] 
# data2['StationNumber'] = StationNum

 
# df display 
data2

,Incident_date,CR,fullAddress,Lat,Long,PSAP,AlarmTime,FirstArrivalDispatchTime,FirstArrivalTime,TypeCodeDescription,...,TypeCategory,zone,UnitDispatchTime,UnitEnRouteTime,UnitArrivalTime,UnitClearTime,CrewMembers,UnitID,UnitType,UnitNumber
0,3/8/2017 9:02,ACFR17-0001268,9400 ELM Court,39.867147,-105.022672,3/8/2017 9:02,3/8/2017 9:04,3/8/2017 9:04,NaN,611 - Dispatched and cancelled en route,...,6 - Good Intent Call,-1,3/8/2017 9:04:15,3/8/2017 9:05:12,NaN,3/8/2017 9:12,"Kerry Furst,Verne Ullrich,Jon Hermann",E15,Engine,11
1,3/8/2017 9:02,ACFR17-0001268,9400 ELM Court,39.867147,-105.022672,3/8/2017 9:02,3/8/2017 9:04,3/8/2017 9:04,NaN,611 - Dispatched and cancelled en route,...,6 - Good Intent Call,-1,3/8/2017 9:04:16,NaN,NaN,3/8/2017 9:12,Clinton Garner,BC11,Chief officer car,92
2,3/8/2017 9:15,ACFR17-0001269,1141 West 69TH Avenue,39.821822,-105.000990,3/8/2017 9:15,3/8/2017 9:16,3/8/2017 9:16,3/8/2017 9:24,"321 - EMS call, excluding vehicle accident wit...",...,3 - Rescue & Emergency Medical Service Incident,320029,3/8/2017 9:16:43,3/8/2017 9:17:25,NaN,3/8/2017 9:18,"Corey Davidson,Carie Porter,Michael Trunkenbolz",TRK11,Truck or aerial,12
3,3/8/2017 9:15,ACFR17-0001269,1141 West 69TH Avenue,39.821822,-105.000990,3/8/2017 9:15,3/8/2017 9:16,3/8/2017 9:16,3/8/2017 9:24,"321 - EMS call, excluding vehicle accident wit...",...,3 - Rescue & Emergency Medical Service Incident,320029,3/8/2017 9:16:44,3/8/2017 9:17:25,3/8/2017 9:24:14,3/8/2017 9:54,"Alex Dill,Tyler Humphries",M11,ALS unit,76
4,3/8/2017 9:17,ACFR17-0001270,3205 West 64TH Avenue,39.812831,-105.028496,3/8/2017 9:17,3/8/2017 9:18,3/8/2017 9:18,3/8/2017 9:22,"321 - EMS call, excluding vehicle accident wit...",...,3 - Rescue & Emergency Medical Service Incident,320037,3/8/2017 9:18:33,3/8/2017 9:19:12,NaN,3/8/2017 9:20,"Matt Leete,Alex Petty,Mike Angelo",E12,Engine,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64150,5/8/2020 20:29,ACFR20-0002988,3266 West LONGFELLOW Place,39.815536,-105.029442,5/8/2020 20:29,5/8/2020 20:29,5/8/2020 20:29,5/8/2020 21:00,NaN,...,NaN,320037,5/8/2020 20:29:32,5/8/2020 20:31:28,5/8/2020 21:00:52,5/8/2020 21:41,"Cody Grove,Alex Dill",M12,ALS unit,76
64151,5/8/2020 21:43,ACFR20-0002989,6000 FEDERAL Boulevard,39.805988,-105.024873,5/8/2020 21:43,5/8/2020 21:44,5/8/2020 21:44,NaN,NaN,...,NaN,320049,5/8/2020 21:44:32,NaN,NaN,NaN,"Jana Gilchrist,Brad Kramer,Michael Trunkenbolz",E12,Engine,11
64152,5/8/2020 21:43,ACFR20-0002989,6000 FEDERAL Boulevard,39.805988,-105.024873,5/8/2020 21:43,5/8/2020 21:44,5/8/2020 21:44,NaN,NaN,...,NaN,320049,5/8/2020 21:44:32,5/8/2020 21:45:15,NaN,NaN,"Cody Grove,Alex Dill",M12,ALS unit,76
64153,5/8/2020 21:43,ACFR20-0002990,7788 FLORADO Street,39.837937,-105.011381,5/8/2020 21:43,5/8/2020 21:45,5/8/2020 21:45,NaN,NaN,...,NaN,320016,5/8/2020 21:45:19,5/8/2020 21:46:43,NaN,NaN,"Chris Huttrer,Mike Eason,Mike Angelo",E11,Engine,11
64154,5/8/2020 21:43,ACFR20-0002990,7788 FLORADO Street,39.837937,-105.011381,5/8/2020 21:43,5/8/2020 21:45,5/8/2020 21:45,NaN,NaN,...,NaN,320016,5/8/2020 21:45:19,NaN,NaN,NaN,"Ken Milette,Dustin Wuestner",M11,ALS unit,76

In [490]:
import re


StationNum = data2['UnitID'].str.extract('(\d+)')

data2['StationNumber'] = StationNum

data2

,Incident_date,CR,fullAddress,Lat,Long,PSAP,AlarmTime,FirstArrivalDispatchTime,FirstArrivalTime,TypeCodeDescription,...,zone,UnitDispatchTime,UnitEnRouteTime,UnitArrivalTime,UnitClearTime,CrewMembers,UnitID,UnitType,UnitNumber,StationNumber
0,3/8/2017 9:02,ACFR17-0001268,9400 ELM Court,39.867147,-105.022672,3/8/2017 9:02,3/8/2017 9:04,3/8/2017 9:04,NaN,611 - Dispatched and cancelled en route,...,-1,3/8/2017 9:04:15,3/8/2017 9:05:12,NaN,3/8/2017 9:12,"Kerry Furst,Verne Ullrich,Jon Hermann",E15,Engine,11,15
1,3/8/2017 9:02,ACFR17-0001268,9400 ELM Court,39.867147,-105.022672,3/8/2017 9:02,3/8/2017 9:04,3/8/2017 9:04,NaN,611 - Dispatched and cancelled en route,...,-1,3/8/2017 9:04:16,NaN,NaN,3/8/2017 9:12,Clinton Garner,BC11,Chief officer car,92,11
2,3/8/2017 9:15,ACFR17-0001269,1141 West 69TH Avenue,39.821822,-105.000990,3/8/2017 9:15,3/8/2017 9:16,3/8/2017 9:16,3/8/2017 9:24,"321 - EMS call, excluding vehicle accident wit...",...,320029,3/8/2017 9:16:43,3/8/2017 9:17:25,NaN,3/8/2017 9:18,"Corey Davidson,Carie Porter,Michael Trunkenbolz",TRK11,Truck or aerial,12,11
3,3/8/2017 9:15,ACFR17-0001269,1141 West 69TH Avenue,39.821822,-105.000990,3/8/2017 9:15,3/8/2017 9:16,3/8/2017 9:16,3/8/2017 9:24,"321 - EMS call, excluding vehicle accident wit...",...,320029,3/8/2017 9:16:44,3/8/2017 9:17:25,3/8/2017 9:24:14,3/8/2017 9:54,"Alex Dill,Tyler Humphries",M11,ALS unit,76,11
4,3/8/2017 9:17,ACFR17-0001270,3205 West 64TH Avenue,39.812831,-105.028496,3/8/2017 9:17,3/8/2017 9:18,3/8/2017 9:18,3/8/2017 9:22,"321 - EMS call, excluding vehicle accident wit...",...,320037,3/8/2017 9:18:33,3/8/2017 9:19:12,NaN,3/8/2017 9:20,"Matt Leete,Alex Petty,Mike Angelo",E12,Engine,11,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64150,5/8/2020 20:29,ACFR20-0002988,3266 West LONGFELLOW Place,39.815536,-105.029442,5/8/2020 20:29,5/8/2020 20:29,5/8/2020 20:29,5/8/2020 21:00,NaN,...,320037,5/8/2020 20:29:32,5/8/2020 20:31:28,5/8/2020 21:00:52,5/8/2020 21:41,"Cody Grove,Alex Dill",M12,ALS unit,76,12
64151,5/8/2020 21:43,ACFR20-0002989,6000 FEDERAL Boulevard,39.805988,-105.024873,5/8/2020 21:43,5/8/2020 21:44,5/8/2020 21:44,NaN,NaN,...,320049,5/8/2020 21:44:32,NaN,NaN,NaN,"Jana Gilchrist,Brad Kramer,Michael Trunkenbolz",E12,Engine,11,12
64152,5/8/2020 21:43,ACFR20-0002989,6000 FEDERAL Boulevard,39.805988,-105.024873,5/8/2020 21:43,5/8/2020 21:44,5/8/2020 21:44,NaN,NaN,...,320049,5/8/2020 21:44:32,5/8/2020 21:45:15,NaN,NaN,"Cody Grove,Alex Dill",M12,ALS unit,76,12
64153,5/8/2020 21:43,ACFR20-0002990,7788 FLORADO Street,39.837937,-105.011381,5/8/2020 21:43,5/8/2020 21:45,5/8/2020 21:45,NaN,NaN,...,320016,5/8/2020 21:45:19,5/8/2020 21:46:43,NaN,NaN,"Chris Huttrer,Mike Eason,Mike Angelo",E11,Engine,11,11
64154,5/8/2020 21:43,ACFR20-0002990,7788 FLORADO Street,39.837937,-105.011381,5/8/2020 21:43,5/8/2020 21:45,5/8/2020 21:45,NaN,NaN,...,320016,5/8/2020 21:45:19,NaN,NaN,NaN,"Ken Milette,Dustin Wuestner",M11,ALS unit,76,11

In [491]:
#import dependencies 
from datetime import datetime
import time

#drop NAs from two columns we need the datetime delta from
dataturnout = data2.dropna(subset = ["UnitDispatchTime", "UnitEnRouteTime"]) 
# dataturnout

In [492]:
#cast two columns to datetime and get the delta to calculate seconds

dataturnout['UnitDispatchTime'] = pd.to_datetime(dataturnout["UnitDispatchTime"])
dataturnout['UnitEnRouteTime'] = pd.to_datetime(dataturnout['UnitEnRouteTime'])

dataturnout['TurnaroundTime'] = (dataturnout['UnitEnRouteTime'] - dataturnout['UnitDispatchTime']).dt.seconds

# dataturnout

C:\Users\RosenqS\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\RosenqS\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\RosenqS\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [493]:
#get the month day and year so that we can join data
dataturnout['DATEForJoin'] = dataturnout['UnitDispatchTime'].apply(lambda x: x.strftime('%m-%d-%Y')) 
# dataturnout

C:\Users\RosenqS\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [494]:
#drop NAs for columns 
datatraveltime = data2.dropna(subset = ["UnitEnRouteTime", "UnitArrivalTime"]) 
# datatraveltime

In [495]:
#cast two columns to datetime and get the delta to calculate seconds
datatraveltime['UnitArrivalTime'] = pd.to_datetime(datatraveltime["UnitArrivalTime"])
datatraveltime['UnitEnRouteTime'] = pd.to_datetime(datatraveltime['UnitEnRouteTime'])

datatraveltime['TravelTime'] = (datatraveltime['UnitArrivalTime'] - datatraveltime['UnitEnRouteTime']).dt.seconds
# datatraveltime

C:\Users\RosenqS\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\RosenqS\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\RosenqS\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [496]:
#pull out day month year into a new column so we can join weather data
datatraveltime['DATEForJoin'] = datatraveltime['UnitArrivalTime'].apply(lambda x: x.strftime('%m-%d-%Y')) 
# datatravrltime.head(10)

C:\Users\RosenqS\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [497]:
#read csv with weather data
file3 = "CompleteWeatherData.csv"
WeatherData = pd.read_csv(file3, encoding='utf8')
# WeatherData.head(10)

In [498]:
#create a date column with month day and year to join on our fire data data frames
WeatherData['DATE'] = pd.to_datetime(WeatherData["DATE"])
WeatherData['DATEForJoin'] = WeatherData['DATE'].apply(lambda x: x.strftime('%m-%d-%Y')) 
WeatherData

           DATE  DAPR  MDPR  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN DATEForJoin
0    2017-01-01   NaN   NaN  0.00   0.0   0.0  29.0    47    16  01-01-2017
1    2017-01-02   NaN   NaN  0.00   0.0   0.0  31.0    52    15  01-02-2017
2    2017-01-03   NaN   NaN  0.00   0.0   0.0  20.0    32    10  01-03-2017
3    2017-01-04   NaN   NaN  0.10   1.5   0.0  11.0    12     4  01-04-2017
4    2017-01-05   NaN   NaN  0.24   2.6   3.9   4.0     5    -2  01-05-2017
...         ...   ...   ...   ...   ...   ...   ...   ...   ...         ...
1223 2020-05-08   NaN   NaN  0.00   0.0   0.0  47.0    63    33  05-08-2020
1224 2020-05-09   NaN   NaN  0.00   0.0   0.0  51.0    60    39  05-09-2020
1225 2020-05-10   NaN   NaN  0.00   0.0   0.0  48.0    65    33  05-10-2020
1226 2020-05-11   NaN   NaN  0.11   0.0   0.0  43.0    53    36  05-11-2020
1227 2020-05-12   NaN   NaN  0.00   0.0   0.0  51.0    76    39  05-12-2020

[1228 rows x 10 columns]

In [499]:
#drop columns in weather data
WeatherData = WeatherData.drop(['DAPR', 'MDPR', 'DATE'], axis=1)

In [500]:
#join weather data to both of our data frames
TurnAroundTime = pd.merge(dataturnout, WeatherData, on="DATEForJoin", how="left")
TravelTime = pd.merge(datatraveltime, WeatherData, on="DATEForJoin", how="left")

# TurnAroundTime.head(10)

In [501]:
#cast incident dates for both data frames 

TurnAroundTime['Incident_date'] = pd.to_datetime(TurnAroundTime['Incident_date'])
TravelTime['Incident_date'] = pd.to_datetime(TravelTime['Incident_date'])



# TurnAroundTime.head(10)

In [502]:
TurnAroundTime['HourofDay'] = TurnAroundTime['Incident_date'].apply(lambda x: x.strftime('%H')) 
TravelTime['HourofDay'] = TravelTime['Incident_date'].apply(lambda x: x.strftime('%H'))


# TurnAroundTime.head(10)

In [503]:



HoursDict ={'HourofDay' : ['00', '01', '02','03', '04', '05' ,'06', '07', '08', '09', '10',"11","12","13","14","15","16","17","18","19","20","21","22","23"],
            'TimeofDay' : ['Night', 'Night', 'Night', 'Night', 'Night','Night', 'Day' , 'Day', 'Day', 'Day','Day','Day','Day','Day','Day','Day','Day','Evening','Evening','Evening','Evening','Evening','Night','Night']
             }

HoursDict=pd.DataFrame(HoursDict)


TurnAroundTime=TurnAroundTime.merge(HoursDict, on='HourofDay', how='left')


# TurnAroundTime

In [504]:
#Get column names
TurnAroundTime.columns

Index(['Incident_date', 'CR', 'fullAddress', 'Lat', 'Long', 'PSAP',
       'AlarmTime', 'FirstArrivalDispatchTime', 'FirstArrivalTime',
       'TypeCodeDescription', 'ActionsTaken', 'PriStation', 'AidGivenReceived',
       'TypeCategory', 'zone', 'UnitDispatchTime', 'UnitEnRouteTime',
       'UnitArrivalTime', 'UnitClearTime', 'CrewMembers', 'UnitID', 'UnitType',
       'UnitNumber', 'StationNumber', 'TurnaroundTime', 'DATEForJoin', 'PRCP',
       'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'HourofDay', 'TimeofDay'],
      dtype='object')

In [512]:
#Drop stations we still love, but don't need

StationsWeLove = ['11','12','13','14','15']

TurnAroundTime = TurnAroundTime.loc[TurnAroundTime['StationNumber'].isin(StationsWeLove)]

# TurnAroundTime["StationNumber"].head(10)

In [513]:
#Start Machine Learning
#OneHotEncoding encodes our catagorical data in a numerical/boolean/binary way
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
X = TurnAroundTime[["TimeofDay"]]
enc.fit(X)

enc.categories_

TATTimeOfDay = pd.DataFrame(enc.transform(X).toarray())

TATTimeOfDay.columns = enc.categories_

TATTimeOfDay

       Day Evening Night
0      1.0     0.0   0.0
1      1.0     0.0   0.0
2      1.0     0.0   0.0
3      1.0     0.0   0.0
4      1.0     0.0   0.0
...    ...     ...   ...
47571  0.0     1.0   0.0
47572  0.0     1.0   0.0
47573  0.0     1.0   0.0
47574  0.0     1.0   0.0
47575  0.0     1.0   0.0

[47576 rows x 3 columns]

In [514]:

enc = OneHotEncoder(handle_unknown='ignore')
X = TurnAroundTime[["StationNumber"]]
enc.fit(X)

enc.categories_

Station = pd.DataFrame(enc.transform(X).toarray())

Station.columns = enc.categories_

Station

        11   12   13   14   15
0      0.0  0.0  0.0  0.0  1.0
1      1.0  0.0  0.0  0.0  0.0
2      1.0  0.0  0.0  0.0  0.0
3      0.0  1.0  0.0  0.0  0.0
4      0.0  1.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...
47571  0.0  0.0  0.0  1.0  0.0
47572  0.0  1.0  0.0  0.0  0.0
47573  0.0  1.0  0.0  0.0  0.0
47574  0.0  1.0  0.0  0.0  0.0
47575  1.0  0.0  0.0  0.0  0.0

[47576 rows x 5 columns]

In [515]:
#concatenated binary data on dataframe to build dataframe for analysis

data = pd.concat([TurnAroundTime[["TurnaroundTime", "SNOW"]], TATTimeOfDay, Station], axis=1)
data = data.dropna()
data

,TurnaroundTime,SNOW,"(Day,)","(Evening,)","(Night,)","(11,)","(12,)","(13,)","(14,)","(15,)"
0,57.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,42.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,41.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,39.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,39.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
47570,98.0,6.4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
47572,42.0,6.4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
47573,119.0,6.4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
47574,102.0,6.4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
47575,106.0,6.4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [516]:
#assigns x and y to feed into train test split. X is what we feed into the model and y is what we predict 
X = data.drop("TurnaroundTime", axis=1)
Y = data["TurnaroundTime"]

In [517]:
#split x and y into train and test in random groups x values will predict our y values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=42)

In [518]:
#running the machine learning prints our score
from sklearn.ensemble import RandomForestRegressor
#try extra parameters in rf = 
rf = RandomForestRegressor(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

-0.00021969610975491882

In [519]:
from sklearn.metrics import r2_score
y_prediction = rf.predict(X_test)
r2_score(y_prediction, y_test)

-3835.3227605688335

In [520]:
#Showing the weight of each feature in the analysis to see if you want to drop features. Tells you what features are important. 
feature_names = X.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.3813050874037493, 'SNOW'),
 (0.1864525317190536, ('Day',)),
 (0.15264923173278955, ('13',)),
 (0.08193662727711234, ('11',)),
 (0.08184337503329858, ('Evening',)),
 (0.0453020525528098, ('12',)),
 (0.0335144672116485, ('14',)),
 (0.0313673550925128, ('Night',)),
 (0.005629271977025606, ('15',))]

In [521]:
#print predicted values
rf.predict(X_test)

array([101.30005526, 101.30005526,  99.10037348, ..., 101.30005526,
       100.80570943, 133.18847985])